@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#pantoneCards {
    display: grid;
    align-items: center;
    width: 100vw;
    height: 100vh;
    grid-auto-flow: column;
    grid-area: 1/1;

    #pantoneCard {
        display: grid;
        justify-items: center;
        .view {
            grid-area: 1/1;
            width: 15vw;
            height: 75vh;
        }
        .pantoneItems{
            display: grid;
            grid-auto-flow: column;
            grid-gap: 1vw;
            grid-area: 1/1;
            justify-self: center;
            align-self: end;
            padding-bottom: 1vw;

            .textHex {
                font-size: 1vw;
                font-weight: bolder;
                text-transform: uppercase;
                color: white;
            }
    
            .textColorName {
                font-size: 1vw;
                font-weight: bolder;
                color: white;
            }
        }

    }
}