@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#pantoneCards {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    grid-area: 1/1;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    #pantoneCard {
        background-color: white;
        width: 22vw;
        height: 60vh;
        box-shadow: -12px 9px 10px grey;
        display: grid;
        justify-items: center;
        #pantoneColor {
            background-color: rgb(17, 174, 148);
            width: 21vw;
            height: 40vh;
            justify-self: center;
            align-self: start;
            margin-top: 2vh;
        }
        #pantoneTitle{
            justify-self: start;
            margin-left: 1vw;
            font-size: 1.5vw;
            font-weight: bolder;
            text-transform: uppercase;
        }
        #pantoneColorHex {
            justify-self: start;
            margin-left: 1vw;
            font-size: 1vw;
            font-weight: bolder;
            text-transform: uppercase;
            user-select: inherit !important;
        }

        #pantoneColorName {
            justify-self: start;
            margin-left: 1vw;
            font-size: 1vw;
            font-weight: bolder;
        }

    }
}